body {
  padding: 2em; 
}

h6 {
  background-image: linear-gradient(to right, #76b3a8 , #8876b3);
  padding: 3px;
  border-bottom: 1px solid #2F3130;
  text-align: left; 
}

.column {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: left; 
}

.wrapper > * {
  margin: 2px;
  flex: 1 100%;
}

.sidebar {
  display: flex;  
  flex-flow: row nowrap;
  font-weight: bold;
  text-align: center;
}

.sidebar > * {
  padding: 10px;
  margin: 2px;
  flex: 1 100%;
}

@media all and (max-width: 600px) {
  .aside { flex: 1 0 0; }
  .color { order: 3; } 
  .vfx { order: 4; }
  .mograph { order: 5; } 
  .writing { order: 6; }
  .about  { order: 7; }
  .bio {order: 8; }
}

@media all and (min-width: 600px) {
  .top { flex: 1 auto; }
  .aside { flex: 1 0 0; }
  .header { flex: 3 0px; }
  .sep  { order: 2; }
  .color { order: 3; } 
  .vfx { order: 4; }
  .mograph { order: 5; } 
  .writing { order: 6; }
}

